<mat-toolbar color="primary" class="toolbar">
  <span class="left-align titulo">Mantenendor de usuarios </span>
  <span class="spacer"></span>
  <button mat-button class="right-align blue-button" color="white" (click)="createPost()">Nuevo Post</button>
</mat-toolbar>

<div class="background-shapes">
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
  <div class="shape shape3"></div>
  <div class="shape shape4"></div>
  <div class="shape shape5"></div>
</div>

<div class="table-container">
  <mat-card>
    <h2 class="table-title">Listado de Usuarios</h2>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let post"></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let post"> {{post.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let post"> {{post.email}} </td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let post"> {{post.company.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let post">
          <button mat-icon-button color="primary" (click)="viewDetails(post.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button class="edit" (click)="editPost(post)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>